*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 10px;
    background-color: rgb(15, 114, 180);
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.container h1 {
    font-style: italic;
    font-weight: 600;
}

.menu li {
    float: left;
    padding: 16px;
    list-style: none;
    font-weight: 600;
}

.menu li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

#about .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}


#about img {
    width: 400px;
}

.about-text {
    align-items: center;
    padding-left: 20px;
}

#about h2 {
    color: rgb(15, 114, 180);
    font-style: italic;
    padding-bottom: 16px ;
    border-bottom: 2px solid rgb(15, 114, 180);
}

#about p {
    padding-top: 25px;
}

#produtos h2 {
    color: rgb(15, 114, 180);
    font-style: italic;
    padding-bottom: 16px;
    border-bottom: 2px solid rgb(15, 114, 180);
}

#produtos .container   {
    padding-top: 50px;

}

.lista-tenis {
    margin: 50px 0px 20px 0px;
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

ul li img {
    max-width: 100%;
    padding-bottom: 50px;
}


ul li {
    list-style: none;
    display: grid;
    align-content: space-between;
}


ul li p{
    padding-top: 10px;
    padding-bottom: 30px;
}



ul button {
    font-weight:600;
    padding: 8px;
    width: 100%;
    background-color: rgb(15, 114, 180);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 80%;
    }

    #about .container {
        display: block;
    }

    #about img {
        max-width: 100%;
        padding-bottom: 30px;
    }

    .about-text {
        display: block;
        padding: 0%;
    }

    #about p {
        padding: 50px 0px 50px 0px;
    }

    .lista-tenis {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    ul li img {
        max-width: 100%;
    }

    ul li {
        padding-bottom: 50px;
    }

    .menu li {
        display: flex;
        flex-direction: column;
        padding: 4px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    #about .container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #about img {
        width: 100%;
        padding-bottom: 30px;
    }

    .about-text {
        display: block;
        padding: 0%;
    }

    #about p {
        padding: 50px 0px 50px 0px;
    }

    .lista-tenis {
        display: grid;
        grid-template-columns: repeat(2, 49.5%);
        column-gap: 1%;
    }

    ul li img {
        max-width: 100%;
    }

    ul li {
        padding-bottom: 50px;
    }

}